Django==4.2.7
psycopg2-binary==2.9.9
python-decouple==3.8
django-crispy-forms==2.1
crispy-bootstrap5==2023.10
django-extensions==3.2.3
whitenoise==6.6.0
dj-database-url==2.1.0
gunicorn==21.2.0
python-dotenv==1.0.0
uvicorn==0.27.1
ldap3==2.9.1
